#%RAML 0.8
baseUri: http://mocksvc.mulesoft.com/mocks/424f137a-ce33-4fae-93e3-d58b64333668/mocks/d7e8f882-2b84-4478-b03d-44f686c9ad26
title: VxCage
version: 1.3.0
# LICENSE: BSD-2
# https://github.com/shadowbq/vxcage
/about:
  get:
    description: describes the server version
    responses:
      200:
        body:
          application/json:
            example:
              '{"version": "1.3.0", "source": "https://github.com/shadowbq/vxcage"}'
/test:
  get:
    description: test connection
    responses:
      200:
        body:
          application/json:
            example:
              '{"message" : "test"}'              
/malware:
  /add:
    post:
      description: add a malware sample to the repo 
      queryParameters:
        tags:
          displayName: tags
          type: string
          description: Comma seperated list of tags
          example: foo, bar, bucket
          required: false
        file:
          displayName: file
          type: file
          required: true
      responses:
        200:
          body:
            application/json:
              example:
                '{"message" : "added"}'
        504:
          body:
            application/json:
              example:
                '{"error" : "timeout"}'    
  /get:
#    /{sha256}:
#      get:
#        description: retrieve a piece of malware from the repo based on a sha256
#        responses:
#          200:
#            body:
#              application/octet-stream:
     
    /{filehash}:
      get:
        description: retrieve a piece of malware from the repo based on a hash
        responses:
          200:
            body:
              application/octet-stream:

  /scavenge:
    /{filehash}:
      get:
        description: retrieve a piece of malware from a configured webservice based on a hash
        responses:
          200:
            body:
              application/octet-stream:
  /find:
    post:
      queryParameters:
        tag:
          type: string
          description: find a malware hashes associated with a tag
          required: false
        md5:
          type: string
          description: find a malware hashes associated with a md5
          required: false
        sha256:
          type: string
          description: find a malware hashes associated with a sha256
          required: false
        ssdeep:
          type: string
          description: find a malware hashes associated with a ssdeep fuzzy hash
          required: false
        imphash:
          type: string
          description: find a malware hashes associated with a imphash
          required: false
        date:
          type: string
          description: find a malware hashes associated with a date created in repo
          required: false
      responses:
        200:
          body:
            application/json:
              example:
                '{"peid": null, "sha1": "20ccd7830548e8ad90216f1473ce4d7f3748b1a8", "exif": "null", "imphash": null, "tags": ["upxed"], "file_type": null, "file_name": "puttytel.exe", "created_at": "2014-08-02 04:59:19.937406", "virustotal": {"virustotal": -1}, "pdfid": {"pdfid": -1}, "file_size": 166912, "crc32": "51799BDB", "ssdeep": "3072:lWVW9uWonxEXJXcUuu45mrCDc+hzWXyi:4I9snxE5XUTs+hzW", "sha256": "b4c5ecdb80ac097eaed5299c8f66cd56ebfe502e33aecf7ecfb6c34efc9f42ac", "sha512": "be6286f1d79b4aca1a1e504fcc270820803af3c64cf9a570a3a22588734c4cb7a3cef460cccbbd984fcfb6b91fb32108819952859c5baf73fe588fe8372abae5", "id": 7, "md5": "a8b41b32131ca34387d2929c19eaa7d4"}
'

    /{filehash}:
      get:
        description: A smart hash search to find the meta data of sample in repo
        responses:
          200:
            body:
              application/json:
                example:
                  '{"peid": null, "sha1": "20ccd7830548e8ad90216f1473ce4d7f3748b1a8", "exif": "null", "imphash": null, "tags": ["upxed"], "file_type": null, "file_name": "puttytel.exe", "created_at": "2014-08-02 04:59:19.937406", "virustotal": {"virustotal": -1}, "pdfid": {"pdfid": -1}, "file_size": 166912, "crc32": "51799BDB", "ssdeep": "3072:lWVW9uWonxEXJXcUuu45mrCDc+hzWXyi:4I9snxE5XUTs+hzW", "sha256": "b4c5ecdb80ac097eaed5299c8f66cd56ebfe502e33aecf7ecfb6c34efc9f42ac", "sha512": "be6286f1d79b4aca1a1e504fcc270820803af3c64cf9a570a3a22588734c4cb7a3cef460cccbbd984fcfb6b91fb32108819952859c5baf73fe588fe8372abae5", "id": 7, "md5": "a8b41b32131ca34387d2929c19eaa7d4"}'    
    
  /total:
    get:
      description: A complete count of all samples in the database
      responses:
        200:
          body:
            application/json:
              example:
                '{"13"}'      

/tags:
  /list:
    get:
      description: A complete list of all tags available
      responses:
        200:
          body:
            application/json:
              example:
                '{"foo", "bar", "busted"}'      

/vt:
  /error:
    get:
      description: A complete list of all hashes that have a virus total error return code.
      responses:
        200:
          body:
            application/json:
              example:
                                '{"peid": null, "sha1": "20ccd7830548e8ad90216f1473ce4d7f3748b1a8", "exif": "null", "imphash": null, "tags": ["upxed"], "file_type": null, "file_name": "puttytel.exe", "created_at": "2014-08-02 04:59:19.937406", "virustotal": {"virustotal": -1}, "pdfid": {"pdfid": -1}, "file_size": 166912, "crc32": "51799BDB", "ssdeep": "3072:lWVW9uWonxEXJXcUuu45mrCDc+hzWXyi:4I9snxE5XUTs+hzW", "sha256": "b4c5ecdb80ac097eaed5299c8f66cd56ebfe502e33aecf7ecfb6c34efc9f42ac", "sha512": "be6286f1d79b4aca1a1e504fcc270820803af3c64cf9a570a3a22588734c4cb7a3cef460cccbbd984fcfb6b91fb32108819952859c5baf73fe588fe8372abae5", "id": 7, "md5": "a8b41b32131ca34387d2929c19eaa7d4"}'
  /missing:
    get:
      description: A complete list of all hashes that have a virus total missing return code.
      responses:
        200:
          body:
            application/json:
              example:
                                '{"peid": null, "sha1": "20ccd7830548e8ad90216f1473ce4d7f3748b1a8", "exif": "null", "imphash": null, "tags": ["upxed"], "file_type": null, "file_name": "puttytel.exe", "created_at": "2014-08-02 04:59:19.937406", "virustotal": {"virustotal": -1}, "pdfid": {"pdfid": -1}, "file_size": 166912, "crc32": "51799BDB", "ssdeep": "3072:lWVW9uWonxEXJXcUuu45mrCDc+hzWXyi:4I9snxE5XUTs+hzW", "sha256": "b4c5ecdb80ac097eaed5299c8f66cd56ebfe502e33aecf7ecfb6c34efc9f42ac", "sha512": "be6286f1d79b4aca1a1e504fcc270820803af3c64cf9a570a3a22588734c4cb7a3cef460cccbbd984fcfb6b91fb32108819952859c5baf73fe588fe8372abae5", "id": 7, "md5": "a8b41b32131ca34387d2929c19eaa7d4"}'
    

   
